<div>
  <p><%= name%></p>

  <p>Adresse : <%= address%></p>
  <p>truc <%= un_obj.un_truc%></p>
  <p>tab 2 <%= un_tab[1]%></p>
  <p>tabjs 2 champs 2 <%= tabjs[1].champs2%></p>
</div>

<div>
<ul>
    <% for(var i=0; i<lesaddresses.length; i++){%>
    <li><%= lesaddresses[i].street%></li>
    <%}%>

      </ul>
</div>